<a href="https://www.kaggle.com/code/kmljts/brawlhalla-legends-analysis?scriptVersionId=186841692" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [60]:
import pandas as pd
import os

In [61]:
legends = pd.read_csv('/kaggle/input/brawlhalla-legends-stats/brawlhalla-stats.csv', index_col='name')
legends

            strength  dexterity  defence  speed
name
Bödvar             6          6        5      5
Cassidy            6          8        4      4
Orion              4          6        6      6
Lord Vraxx         4          8        4      6
Gnash              7          3        5      7
...              ...        ...      ...    ...
Thea               4          6        3      9
Red Raptor         6          6        4      6
Loki               4          8        5      5
Seven              7          3        8      4
Vivi               6          5        4      7

[62 rows x 4 columns]

In [62]:
legends.columns

Index(['strength', 'dexterity', 'defence', 'speed'], dtype='object')

In [63]:
legends.sum(axis=1)

name
Bödvar        22
Cassidy       22
Orion         22
Lord Vraxx    22
Gnash         22
              ..
Thea          22
Red Raptor    22
Loki          22
Seven         22
Vivi          22
Length: 62, dtype: int64

In [64]:
legends.sum(axis=1).describe()

count    62.0
mean     22.0
std       0.0
min      22.0
25%      22.0
50%      22.0
75%      22.0
max      22.0
dtype: float64

In [65]:
legends.sort_values(by='strength', ascending=False).head(10)

         strength  dexterity  defence  speed
name
Xull            9          4        5      4
Teros           8          3        6      5
Petra           8          4        4      6
Scarlet         8          5        5      4
Jhala           7          7        3      5
Caspian         7          5        4      6
Azoth           7          5        6      4
Zariel          7          4        7      4
Fait            7          4        4      7
Cross           7          4        6      5

In [66]:
legends.sort_values(by='dexterity', ascending=False).head(10)

            strength  dexterity  defence  speed
name
Volkov             4          8        6      4
Loki               4          8        5      5
Lord Vraxx         4          8        4      6
Koji               5          8        4      5
Cassidy            6          8        4      4
Lin Fei            3          8        4      7
Jhala              7          7        3      5
Asuri              4          7        5      6
Jiro               5          7        3      7
Dusk               6          7        4      5

In [67]:
legends.sort_values(by='defence', ascending=False).head(10)

            strength  dexterity  defence  speed
name
Magyar             5          4        9      4
Barraza            6          4        8      4
Seven              7          3        8      4
Queen Nai          7          4        8      3
Sir Roland         5          5        8      4
Onyx               5          4        8      5
Zariel             7          4        7      4
Kaya               4          4        7      7
Nix                4          5        7      6
Kor                6          5        7      4

In [68]:
legends.sort_values(by='speed', ascending=False).head(10)

         strength  dexterity  defence  speed
name
Thea            4          6        3      9
Mako            6          4        4      8
Hattori         4          6        4      8
Artemis         5          5        4      8
Lucien          3          5        6      8
Yumiko          4          7        4      7
Ember           6          6        3      7
Munin           5          6        4      7
Vector          5          4        6      7
Fait            7          4        4      7

## Feature Engineering

In [69]:
legends['agility'] = legends.strength + legends.dexterity
legends['resilience'] = legends.dexterity + legends.defence
legends['evasion'] = legends.defence + legends.speed
legends['power'] = legends.strength + legends.speed
legends['fortitude'] = legends.strength + legends.defence
legends['nimbleness'] = legends.dexterity + legends.speed

In [70]:
legends

,strength,dexterity,defence,speed,agility,resilience,evasion,power,fortitude,nimbleness
name,,,,,,,,,,
Bödvar,6,6,5,5,12,11,10,11,11,11
Cassidy,6,8,4,4,14,12,8,10,10,12
Orion,4,6,6,6,10,12,12,10,10,12
Lord Vraxx,4,8,4,6,12,12,10,10,8,14
Gnash,7,3,5,7,10,8,12,14,12,10
...,...,...,...,...,...,...,...,...,...,...
Thea,4,6,3,9,10,9,12,13,7,15
Red Raptor,6,6,4,6,12,10,10,12,10,12
Loki,4,8,5,5,12,13,10,9,9,13
Seven,7,3,8,4,10,11,12,11,15,7
Vivi,6,5,4,7,11,9,11,13,10,12

In [71]:
legends.sort_values(by='agility', ascending=False).head(10)

,strength,dexterity,defence,speed,agility,resilience,evasion,power,fortitude,nimbleness
name,,,,,,,,,,
Cassidy,6,8,4,4,14,12,8,10,10,12
Jhala,7,7,3,5,14,10,8,12,10,12
Arcadia,7,7,4,4,14,11,8,11,11,11
Mirage,7,6,4,5,13,10,9,12,11,11
Xull,9,4,5,4,13,9,9,13,14,8
Scarlet,8,5,5,4,13,10,9,12,13,9
Dusk,6,7,4,5,13,11,9,11,10,12
Ada,6,7,3,6,13,10,9,12,9,13
Koji,5,8,4,5,13,12,9,10,9,13
Bödvar,6,6,5,5,12,11,10,11,11,11

In [72]:
legends.sort_values(by='resilience', ascending=False).head(10)

,strength,dexterity,defence,speed,agility,resilience,evasion,power,fortitude,nimbleness
name,,,,,,,,,,
Volkov,4,8,6,4,12,14,10,8,10,12
Reno,4,7,6,5,11,13,11,9,10,12
Magyar,5,4,9,4,9,13,13,9,14,8
Isaiah,5,6,7,4,11,13,11,9,12,10
Loki,4,8,5,5,12,13,10,9,9,13
Sir Roland,5,5,8,4,10,13,12,9,13,9
Kor,6,5,7,4,11,12,11,10,13,9
Barraza,6,4,8,4,10,12,12,10,14,8
Asuri,4,7,5,6,11,12,11,10,9,13
Nix,4,5,7,6,9,12,13,10,11,11

In [73]:
legends.sort_values(by='evasion', ascending=False).head(10)

,strength,dexterity,defence,speed,agility,resilience,evasion,power,fortitude,nimbleness
name,,,,,,,,,,
Lucien,3,5,6,8,8,11,14,11,9,13
Kaya,4,4,7,7,8,11,14,11,11,11
Ulgrim,6,3,7,6,9,10,13,12,13,9
Vector,5,4,6,7,9,10,13,12,11,11
Onyx,5,4,8,5,9,12,13,10,13,9
Nix,4,5,7,6,9,12,13,10,11,11
Magyar,5,4,9,4,9,13,13,9,14,8
Sentinel,5,4,7,6,9,11,13,11,12,10
Val,4,5,6,7,9,11,13,11,10,12
Brynn,5,5,5,7,10,10,12,12,10,12

In [74]:
legends.sort_values(by='power', ascending=False).head(10)

,strength,dexterity,defence,speed,agility,resilience,evasion,power,fortitude,nimbleness
name,,,,,,,,,,
Gnash,7,3,5,7,10,8,12,14,12,10
Fait,7,4,4,7,11,8,11,14,11,11
Petra,8,4,4,6,12,8,10,14,12,10
Thatch,7,5,3,7,12,8,10,14,10,12
Mako,6,4,4,8,10,8,12,14,10,12
Vivi,6,5,4,7,11,9,11,13,10,12
Teros,8,3,6,5,11,9,11,13,14,8
Caspian,7,5,4,6,12,9,10,13,11,11
Artemis,5,5,4,8,10,9,12,13,9,13
Mordex,6,4,5,7,10,9,12,13,11,11

In [75]:
legends.sort_values(by='fortitude', ascending=False).head(10)

,strength,dexterity,defence,speed,agility,resilience,evasion,power,fortitude,nimbleness
name,,,,,,,,,,
Seven,7,3,8,4,10,11,12,11,15,7
Queen Nai,7,4,8,3,11,12,11,10,15,7
Teros,8,3,6,5,11,9,11,13,14,8
Barraza,6,4,8,4,10,12,12,10,14,8
Xull,9,4,5,4,13,9,9,13,14,8
Zariel,7,4,7,4,11,11,11,11,14,8
Magyar,5,4,9,4,9,13,13,9,14,8
Thor,6,4,7,5,10,11,12,11,13,9
Kor,6,5,7,4,11,12,11,10,13,9
Sir Roland,5,5,8,4,10,13,12,9,13,9

In [76]:
legends.sort_values(by='nimbleness', ascending=False).head(10)

,strength,dexterity,defence,speed,agility,resilience,evasion,power,fortitude,nimbleness
name,,,,,,,,,,
Lin Fei,3,8,4,7,11,12,11,10,7,15
Thea,4,6,3,9,10,9,12,13,7,15
Yumiko,4,7,4,7,11,11,11,11,8,14
Lord Vraxx,4,8,4,6,12,12,10,10,8,14
Hattori,4,6,4,8,10,10,12,12,8,14
Jiro,5,7,3,7,12,10,10,12,8,14
Loki,4,8,5,5,12,13,10,9,9,13
Ezio,5,7,4,6,12,11,10,11,9,13
Munin,5,6,4,7,11,10,11,12,9,13
Artemis,5,5,4,8,10,9,12,13,9,13

### Well-balanced Legends 
Lower std -> better balanced

In [77]:
balanced = legends.T.describe().loc['std'].sort_values().head(10)

balanced

name
Diana         2.898275
Ragnir        2.898275
Rayman        2.898275
Jaeyun        2.898275
Bödvar        2.898275
Tezca         3.011091
Wu Shang      3.011091
Orion         3.011091
Sidra         3.011091
Red Raptor    3.011091
Name: std, dtype: float64

In [78]:
balanced.index

Index(['Diana', 'Ragnir', 'Rayman', 'Jaeyun', 'Bödvar', 'Tezca', 'Wu Shang',
       'Orion', 'Sidra', 'Red Raptor'],
      dtype='object', name='name')

In [79]:
legends.loc[balanced.index]

,strength,dexterity,defence,speed,agility,resilience,evasion,power,fortitude,nimbleness
name,,,,,,,,,,
Diana,5,6,5,6,11,11,11,11,10,12
Ragnir,5,6,6,5,11,12,11,10,11,11
Rayman,5,5,6,6,10,11,12,11,11,11
Jaeyun,6,5,5,6,11,10,11,12,11,11
Bödvar,6,6,5,5,12,11,10,11,11,11
Tezca,7,5,5,5,12,10,10,12,12,10
Wu Shang,5,7,5,5,12,12,10,10,10,12
Orion,4,6,6,6,10,12,12,10,10,12
Sidra,6,4,6,6,10,10,12,12,12,10
Red Raptor,6,6,4,6,12,10,10,12,10,12

In [80]:
# legends['finesse'] = 1 * legends.strength + 2 * legends.dexterity + 0 * legends.defence + 1 * legends.speed
legends['finesse'] = legends.agility + legends.nimbleness

In [83]:
legends.sort_values(by='finesse', ascending=False).head(20)

,strength,dexterity,defence,speed,agility,resilience,evasion,power,fortitude,nimbleness,finesse
name,,,,,,,,,,,
Lord Vraxx,4,8,4,6,12,12,10,10,8,14,26
Cassidy,6,8,4,4,14,12,8,10,10,12,26
Jhala,7,7,3,5,14,10,8,12,10,12,26
Koji,5,8,4,5,13,12,9,10,9,13,26
Ada,6,7,3,6,13,10,9,12,9,13,26
Jiro,5,7,3,7,12,10,10,12,8,14,26
Lin Fei,3,8,4,7,11,12,11,10,7,15,26
Yumiko,4,7,4,7,11,11,11,11,8,14,25
Loki,4,8,5,5,12,13,10,9,9,13,25
Thea,4,6,3,9,10,9,12,13,7,15,25
Ezio,5,7,4,6,12,11,10,11,9,13,25
Arcadia,7,7,4,4,14,11,8,11,11,11,25
Ember,6,6,3,7,12,9,10,13,9,13,25
Dusk,6,7,4,5,13,11,9,11,10,12,25
Asuri,4,7,5,6,11,12,11,10,9,13,24
Wu Shang,5,7,5,5,12,12,10,10,10,12,24
Volkov,4,8,6,4,12,14,10,8,10,12,24
Mirage,7,6,4,5,13,10,9,12,11,11,24
Munin,5,6,4,7,11,10,11,12,9,13,24
Thatch,7,5,3,7,12,8,10,14,10,12,24